@charset "UTF-8";

#logins {
	color: #000;
}

.formDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mt10 {
	width: 100%;
	text-align: left;
}

.accont-wrap {
	height: 900px;
}

.account {
	padding: 6px 0 16px;
	font-size: 36px;
	color: #333;
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 50px;
}

.errMsg {
	text-align: left;
	margin-top: 10px;
	color: #ff6b6b;
	font-size: 14px;
	line-height: 21px;
}

#emailAuthBtn {
	margin: 20px 0 0 0;
	color: #9f7ab0;
	text-align: center;
	background: #fcfcfc;
	line-height: 52px;
	height: 45px;
	width: 90px;
	border-radius: 8px;
	font-size: 16xp;
	font-wdight: 500;
	border: 1px solid #9f7ab0;
	outline: none;
}

#verify_check {
	margin: 20px 0 0 0;
	color: #fff;
	text-align: center;
	background: #9F7AB0;
	line-height: 52px;
	height: 52px;
	width: 130px;
	border-radius: 8px;
	font-size: 16xp;
	font-wdight: 500;
	border: none;
	outline: none;
}

.auth-section {
	display: column;
	align-items: center;
	min-height: 75vh;
}

#confirmBtn {
	margin: 20px 0 0 0;
	color: #fff;
	text-align: center;
	background: #9F7AB0;
	line-height: 52px;
	height: 52px;
	width: 640px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: 500;
	border: none;
	outline: none;
	display: block;
	margin: auto;
	margin-top: 40px;
}

.errMsg {
	margin-top: 7px;
	margin-bottom: 10px;
	visibility: hidden;
	margin-left: 6px;
}

#confirmBtn {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 700;
}

.guest-or {
	margin-bottom: 5px;
}

#login, #googlelogin {
	border: 1px solid #000;
	margin: 16px 0 0 0;
	color: #333;
	text-align: center;
	background: #FFF;
	line-height: 52px;
	height: 52px;
	width: 640px;
	border-radius: 8px;
	font-size: 16xp;
	font-weight: 500;
	outline: none;
	display: block;
	margin: auto;
}

.email, .pw, .pw_check, .name, .verify {
	color: #333;
	font-size: 16px;
	padding: 0 0 0 20px;
	background: #FFFFFF;
	width: 640px;
	padding: 16px 20px;
	color: #333;
	border: 1px solid #ddd;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}

.guest-or {
	position: relative;
	text-align: center;
}

        .guest-or {
            text-align: center;
        }

        #confirmBtn {
            margin-bottom: 55px;
        }
        
    /* 진석 css */
   	body {
		font-family: 'Nanum Gothic', sans-serif;
		background-color: #F5F5F9;
  	}
  	
	.password-container {
	  position: relative;
	}
	
	.eye {
		display:none;
	    position: absolute;
	    right: 30px;
	    top: 59%;
	    transform: translateY(-50%);
	}
	
	input {
	  transition: box-shadow 0.6s ease;
	}

	input:focus {
		border:2px solid #555;
  		box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.3);
	}
	
	.errMsg {
	  opacity: 0;
	  transition: opacity 0.4s ease-in-out;
	}
	
	.errAction {
		opacity: 1;
	}
	
	.errId {
        border-color: #ff6b6b;
        color: #ff6b6b;	
	}
	
	.errId:focus {
	  border-color: #ff6b6b !important;
	}	
	
	.Action {
		color: #ff6b6b;	
	}
	
	.bTxt {
		margin-left:5px;
	}
	
	#password{
		margin-bottom:15px;
	}
	
	.guest-or::before {
		display: inline-block;
	    content: "";
	    width: 30%;
	    max-width: 230px;
	    height: 1px;
	    margin-right: 20px;
	    background: #bbb;
	    vertical-align: middle;
	}
	
	.guest-or::after{
		display: inline-block;
	    content: "";
	    width: 30%;
	    max-width: 230px;
	    height: 1px;
	    margin-left: 20px;
	    background: #bbb;
	    vertical-align: middle;
	}
	
	#confirmBtn {
    	transition: background-color 0.3s ease;
	}

	#confirmBtn:hover {
		background-color:#75508F;
	}
	
.button2 {
	float: left;
	height: 52px;
	width: 640px;
	border-radius: 8px;
	display: block;
	margin: 16px 0 0 0;
	border: 1px solid #000;
	background: #FFF;
	color: #333;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button2 > span {
	vertical-align: middle;
}

.bg-1 {
	background: #ECEFF1;
	color: #37474f;
}

.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}

.button--nina {
	padding: 0 2em;
	background: #fff;
	color: #000;
	overflow: hidden;
	transition: background-color 0.3s;
	font-weight:bold !important;
}
.button--nina.button--inverted {
	background: #fff;
	color: #7986cb;
}
.button--nina > span {
	display: inline-block;
	padding: 1em 0;
	opacity: 0;
	color: #fff;
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
	background-color: #666;
}
.button--nina:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
	
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.button--size-s {
	font-size: 16px;
	font-weight:500;
}

.row-login {
	margin-top: 75px;
	margin-bottom: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:750px;
    width:1100px;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}		
